APP_ENV=development
APP_PORT=8080
APP_GRACEFUL_TIMEOUT=10s

POSTGRES_DSN=host=postgres user=bim password=bim dbname=bimstream sslmode=disable
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0

KEYCLOAK_ISSUER=http://keycloak:8080/realms/bim
KEYCLOAK_AUDIENCE=bim-backend
KEYCLOAK_JWKS_URL=http://keycloak:8080/realms/bim/protocol/openid-connect/certs

TURN_URL=turn:coturn:3478?transport=udp
TURN_USERNAME=bimturn
TURN_PASSWORD=turnpassword
STUN_URL=stun:coturn:3478

RATE_LIMIT_RPS=20
RATE_LIMIT_BURST=40

WS_READ_BUFFER=2048
WS_WRITE_BUFFER=2048

LOG_LEVEL=info
